body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    display:flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    background-color: #1F2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img {
    width: 500px;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-content {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: #1F2937 solid;
}

.info-img {
    display: flex;
    gap: 48px;
    margin-bottom: 16px;
}

[class ^="box"] {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
}

.info-sub {
    display: flex;
    gap: 48px;
}

.testimonial {
    display: flex;
    justify-content: center;
}

.modal {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.modal-text {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}